doctype html
html
  head
    title Reddit Video
  body
    span
      h3
        a(id='reddit-title')
      div(id='player') 
    div(id='controls')
      button(id='prev') Previous
      button(id='next') Next
  script(type='text/javascript').
    window.videoData = !{JSON.stringify(videoData)};
  script(src='/js/index.js' type='text/javascript')
